---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import img from '../assets/image.png';
---

<Layout>
	<div style="display: flex; justify-content: center; align-items: center; height: 100vh; gap: 2rem;">
		<Image src={img} alt="Image" />
		<img src={img.src} alt="Image" />
	</div>
</Layout>
