---
interface Props {
  ago: string;
  human: string;
  id: string;
}
const { ago, human, id } = Astro.props;
---

<div class="flex flex-col gap-1">
  <a href={`#${id}`} class="no-underline text-gray-900 hover:text-gray-600 transition-colors"><slot /></a>
  <span class="text-xs text-gray-400 font-normal mt-1">
    <p>last updated {ago}</p>
  </span>
</div>
