---

---

<p class="text-sm text-gray-600 leading-relaxed">
  Some plain text here followed by <span
    class="font-semibold text-gray-900 bg-gray-100 px-1.5 py-0.5 rounded"
    >styled text here</span
  >
</p>

<p class="text-sm text-gray-600 leading-relaxed">
  Some plain text here followed by <div
    class="font-semibold text-gray-900 bg-gray-100 px-1.5 py-0.5 rounded text-sm"
  >
    styled text here but in a div
  </div>
</p>
